
<ion-content [fullscreen]="true" class="ion-padding">
  <div id="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="rutaBienvenido()">Login</ion-button>
        <a href="/olvidar-contra">Olvidaste tu contraseña?</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
